/* rules applied to the universal select */
* {
    font-family: 'Courier New', Courier, monospace;
}

/* rules applied to the body */
body {
    /* set background color */
    background-color: #d9dcd6;
}

/* rules applied to the header */
header {
    /* set padding (included in width)*/
    padding: 20px;
    /* set font-family. list contains fallbacks */
    font: 'Lucida Sans';
    background-color: #2a607c;
    /* text color */
    color: #ffffff;
}

/* rules applied to h1s within the header */
header h1 {
    /* display inline with fixed height/width */
    display: inline-block;
    font-size: 48px;
}

/* rules applied to seo class within h1 within header */
header h1 .seo {
    /* alter text color for this class */
    color: #d9dcd6;
}

/* rules applied to nav within the header */
header nav {
    /* padding from top */
    padding-top: 15px;
    /* margin from right */
    margin-right: 20px;
    /* element floats to right of container */
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* display: flex; */
}

/* rules applied to unordered list with nav within header */
header nav ul {
    /* no list style to avoid bullets */
    list-style-type: none;
}

/* rules applied to list items within unordered lists within nav within header */
header nav ul li {
    display: inline-flex;
    margin-left: 25px;
}

/* rules applied to anchor links */
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}



/* class containing background image */
.portfolio {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position:relative;
    margin-bottom: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    border: lime 10px;
    border-style: solid;
    float: left;
    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    -moz-filter: grayscale(90%);
    background-size: cover;
    background-repeat: no-repeat;
}
.card::before {
    position: absolute;
    top: 10%;
    display: block;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background: lime;
  }



.card:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
}

/* rules applied to unordered list with nav within header */
#contact ul {
    /* no list style to avoid bullets */
    list-style-type: none;
}

/* rules applied to list items within unordered lists within nav within header */
#contact li {
    display: inline-flex;
    margin-left: 25px;
    justify-content: space-between;
}

#contact-headshot{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;  
}


.small {
    flex-basis: 49%;
    display: flex;
    height: 400px;
    width: 100%;
    background-image: url("../images/headshot.jpg");
}

.big {
    flex-basis: 100%;
    width: 100%;
    height: 800px;
}

#css-cheat-sheet {
    background-image: url("../images/cheatsheet.jpeg");
}

#css-cheat-sheet::before {
    content: "Responsive Layout"
}

#horiseon {
    background-image: url("../images/digital-marketing-meeting.jpg");
}
#horiseon::before {
    content: "Semantic HTML"
}

#baseball {
    background-image: url("../images/baseball.jpeg");
}
#baseball::before {
    content: "Baseball"
}

#football {
    background-image: url("../images/football.jpeg");
}
#football::before {
    content: "Football"
}


#nba {
    background-image: url("../images/bball.jpeg");
}
#nba::before {
    content: "Basketball"
}



/* rules applied to content class */
.content {
    display: inline-block;
    /* margin from left side */
}

/* rules applied to section elements within the content class */
.content section {
    display: grid;
    width: 100%;
    grid-template-columns:
        250px 1fr;
    text-align: left;
    padding: 2%;
}

.section-content {
    padding: 10px;
    border-left: 5px solid aliceblue; 
}

/* rules applied to the h2 elements within the content class */
.content h2 {
    font-size: 36px;
    flex-basis: 20%;
    padding: 10px;
    padding-bottom: 0px;
}

@media screen and (max-width: 992px) {
    .content section {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        text-align: left;
        padding: 2%;
    }

    .section-content {
        border-left: none;
        border-top: 5px solid aliceblue;
        padding-top: 20px;
    }
    .big{
        height: 400px;
    }
    .small{
        height: 200px;
    }

}



@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header nav ul li {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    header nav {
        align-items: right;
    }

    .small {
        flex-basis: 100%;
    }

    #contact li {
        display: flex;
        padding: 2px;
    }


}